<script>
    import { logedUser } from './../stores/logedUserStore';
    import { navigate } from 'svelte-routing';

    if (!$logedUser) {
        navigate('/login');
        location.reload();
    }
</script>

<h1>Add</h1>