<script>
    export let userType = "User";
    import { logedUser } from './../stores/logedUserStore';
    import { navigate } from 'svelte-routing';
    import { sessionsRepository } from './../Repositories/SessionsRepository';
    
    if ($logedUser) {
        navigate('/');
        location.reload();
    }

    let name = "";
    let pass = "";

    let login = () => {
        sessionsRepository
        .Login(name, pass, userType)
        .then(data => {
            logedUser.loginUser({ "Name": name, "Type": userType, "Token": data.token });
            navigate("/");
        })
        .catch(error => {
            console.log("ERROR", error);
        });
    }
</script>

<h1>LogIn</h1>

<label for="name">Name</label>
<input type="text" name="name" id="name" bind:value={name} />

<label for="pass">Password</label>
<input type="password" name="pass" id="pass" bind:value={pass} />

<button on:click={login}>LogIn</button>