<script>
    import { logedUser } from './../stores/logedUserStore';
    import { navigate } from 'svelte-routing';
    import { usersRepository } from './../Repositories/UsersRepository';

    let me = null;

    if (!$logedUser) {
        navigate('/login');
        location.reload();
    }
    
    let logout = () => {
        logedUser.loginUser();
        navigate('/login');
    }

    usersRepository
    .GetMe()
    .then(data => me = data)
    .catch(ex => {
        alert('Error');
        console.log(ex);
    });
</script>

{#if me}
<h1>{me.name}</h1>
<p>{me.mail}</p>
<p>{me.pass}</p>
<p>{me.type}</p>
<p>{me.isVip}</p>
{:else}
<p>loading</p>
{/if}

<button on:click={logout}>Log Out</button>