<script>
    let srcLogo = "../imgs/calcetes_logo.png";
    let srcText = "../imgs/calcetes_text.png";
</script>

<div>
    <img id="logo" src={srcLogo} alt="Calcetes logo" />
    <img id="text" src={srcText} alt="Calcetes" />
</div>

<style>
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
    }
    #logo {
        width: 40px;
        height: 40px;
    }
    #text {
        /*width: 40px;*/
        height: 40px;
        border-radius: 50%;
    }
</style>