<script>
    import Icon from 'svelte-awesome';
    import { home, fire, plus, shoppingCart, user } from 'svelte-awesome/icons';
    import { Link } from "svelte-routing";
</script>

<nav>
    <Link to="/"><Icon data={home} scale="2" /></Link>
    <Link to="/hot"><Icon data={fire} scale="2" /></Link>
    <Link to="/add"><Icon data={plus} scale="2" /></Link>
    <Link to="/cart"><Icon data={shoppingCart} scale="2" /></Link>
    <Link to="/me"><Icon data={user} scale="2" /></Link>
</nav>

<style>
nav {
	display: flex;
	flex-direction: row;
    justify-content: space-around;
    padding: 7px;
}
</style>