<script>
	import { currentUser } from './libraries/currentUser'
    import { logedUser } from './stores/logedUserStore';
	import LogIn from './Pages/LogIn.svelte';
	import Navbar from './Components/Navbar.svelte';
	import Logo from './Components/Logo.svelte';
	import Icon from 'svelte-awesome';
	import { home, fire, plus, shoppingCart, user } from 'svelte-awesome/icons';
	import { Router, Route, Link, link } from "svelte-routing";
	import Home from "./Pages/Home.svelte";
	import Me from "./Pages/Me.svelte";
	import Hot from "./Pages/Hot.svelte";
	import Add from "./Pages/Add.svelte";
	import Cart from "./Pages/Cart.svelte";

	let gender = 'any';

	$: currentUser.Set($logedUser);

	//$: gender = $logedUser ? $logedUser.Gender : 'any';

	gender = 'girl';
</script>

<div class="content { gender }">
	<div class="logo">
		<Logo />
	</div>

	<Router>
		<div class="page">
			<Route path="/" component={Home} />
			<Route path="/hot" component={Hot} />
			<Route path="/add" component={Add} />
			<Route path="/cart" component={Cart} />
			<Route path="/me" component={Me} />
			<Route path="/login" component={LogIn} />
			<Route path="/login/:userType" component={LogIn} />
		</div>
	
		{#if $logedUser}
			<div class="nav">
				<Navbar />
			</div>
		{:else}
			<Link to="/login">login</Link>
		{/if}
	</Router>
</div>

<style>
	.logo {
		box-shadow: 0px 0px 20px 0px black;
	}
	.nav {
		position: absolute;
		bottom: 0;
		width: 100%;
		right: 0;
    	box-shadow: 0px 0px 20px 0px black;
	}
	.page {
		height: calc(100vh - 86px);
		padding-bottom: 36px;
	}
	.content.girl{
		background-color: #ffdae9;
	}
	.content.boy{
		background-color: #c3e2ff;
	}
</style>